.main {
	position: relative;
	height: calc(100vh - 80px);
	padding: 40px;
	background: #32acf1 linear-gradient(to bottom right, #32acf1 0%, #6039ff 100%);

	.container {
		.text__center {
			font-size: 14px;
			color: #fff;
			text-align: center;
		}

		.container__question {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.block__question {
				display: flex;
				flex-direction: column;

				.header__question {
					display: flex;
					align-items: center;
					gap: 10px;
					background-color: #fff;
					border-radius: 20px 20px 0 0;
					padding: 10px;

					p {
						font-size: 14px;
					}

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}

				.textarea__container {
					position: relative;

					textarea {
						width: calc(100% - 40px);
						height: 100px;
						background-color: #fff6;
						border-radius: 0 0 20px 20px;
						resize: vertical;
						padding: 20px;

						&::placeholder {
							color: #0005;
						}

						font: {
							size: 20px;
							weight: bold;
						}
					}

					button {
						position: absolute;
						right: 20px;
						bottom: 20px;
						background-color: #fff4;
						border-radius: 50%;
						font-size: 20px;
						padding: 10px;
					}
				}
			}

			.button {
				color: #fff;
				background-color: #000;
				text-decoration: none;
				padding: 20px;
				border-radius: 30px;
				font-size: 18px;
				text-align: center;
			}

			.pacman__container {
				display: flex;
				justify-content: center;
			}
		}

		.container__info {
			width: calc(100% - 80px);
			position: absolute;
			bottom: calc(env(safe-area-inset-bottom, 20px) + 70px);
			display: flex;
			flex-direction: column;
			gap: 12px;
			text-align: center;

			.button {
				color: #fff;
				background-color: #000;
				text-decoration: none;
				padding: 20px;
				border-radius: 30px;
				font-size: 18px;
				animation: animate-shake 2s ease-in-out infinite;
			}

			.terminos__politicas {
				display: flex;
				justify-content: center;
				gap: 8px;

				a {
					color: #fff6;
					text-decoration: none;

					font: {
						size: 12px;
						weight: bold;
					}
				}
			}
		}
	}
}

@keyframes animate-shake {
	0%,
	10%,
	65%,
	100% {
		transform: rotate(0deg) scale(1);
	}

	30%,
	40% {
		transform: rotate(-1deg) scale(1.05);
	}

	35%,
	45% {
		transform: rotate(1deg) scale(1.05);
	}
}
